.container{
    display: block;
    margin: auto;
   
    margin-top: 20px;
    background-image: linear-gradient(rgb(219, 147, 147), rgb(128, 158, 208));
    height: 850px;
    width: 100%
}
.form{
    margin-left: 450px;
}
.head{
   
   
    text-align: center;
    margin-top: 10px;
}